/* LandingPage.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.landing-image {
  width: 80%;
  max-width: 400px;
  cursor: pointer;
  user-select: none;
}

.landing-message {
  margin-top: 20px;
  color: #002B4D;
  font-size: 16px;
}